# Node
node_modules/
dist/
coverage/
.env
.env.*
!.env.example

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub-cache/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
